html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #212121;   
}

hr {
    border-color: grey;
}

.center {
    text-align: center;
}

.colored {
    color: rgb(62, 190, 233);
}

.fa-big {
    font-size: 1.5rem;
}

nav {
    background-color: #181818;
}

#main-nav {
    display: none;
}

#side-nav {
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-item {
    display: block;
    padding: .75rem;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #202020;
    color: rgb(62, 190, 233);
}

main {
    margin-left: 300px;
    padding: 1rem 2rem;
    color: white;
}

#home {
    font-size: 3em;
}

.social-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header {
    text-align: center;
}

.panel {
    background-color: #181818;
    color: white;
    width: 100%;
    font-size: 15px;
    margin: 1rem 0;
}

.panel-header {
    padding: 18px;
    border-bottom: 1px solid rgb(53, 53, 53);
}

.panel-title {
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: .5rem;
}

.accordion {
    background-color: #181818;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
  
.accordion:hover, .accordion.active {
    background-color: #151515; 
}

.drawer {
    margin: 0 .25rem;
    padding: 0 10px;
    background-color: #252525;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.tags {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.tags li {
    background-color: rgb(42, 167, 209);
    padding: 3px 5px;
    border-radius: 5px;
    margin: 0 2px;
    cursor: default;
}

.btn {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: rgb(110, 110, 110);
    padding: 5px 8px;
}

.btn:hover {
    background-color: rgb(85, 85, 85);
}

.btn-icon {
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 8px;
    margin: 0 .25rem;
}

.slideshow {
    position: relative;
    margin: 1rem 0;
}

.slide {
    display: none;
    width: 100%;
}

.slide img {
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slide-number {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption {
    text-align: center;
    border-top: 1px solid rgb(53, 53, 53);
    border-bottom: 1px solid rgb(53, 53, 53);
    padding: 5px 0;
    margin: 0;
    color: white;
}

.thumbnail-row:after {
    content: "";
    display: table;
    clear: both;
}

.thumbnail-column {
    float: left;
    width: 16.66%;
}

.thumbnail {
    opacity: 0.6;
    cursor: pointer;
    width: 100%;
}

.active,
.thumbnail:hover {
    opacity: 1;
}

.education-item {
    display: flex;
}

.education-info {
    flex-grow: 1;
}

.education-info p {
    margin-block-start: .5rem;
    margin-block-end: .5rem;
}

.school-name {
    font-size: 1.1em;
    font-weight: bold;
}

#contact-info {
    margin: 0 auto;
    font-size: 1.3em;
}

#contact-info tr {
    line-height: 3em;
}

#contact-info td {
    padding: 0 .25rem;
}

@media screen and (max-width: 800px) {
    #main-nav {
        display: block;
    }
    
    #side-nav {
        display: none;
    }

    main {
        margin-left: 0;
    }
}