.education-item {
  display: flex;
}

.education-info {
  flex-grow: 1;
}

.education-info p {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

.school-name {
  font-size: 1.1em;
  font-weight: bold;
}
