hr {
  border-color: grey;
  margin: 8px 0;
}

ul {
  padding-inline-start: 30px;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.colored {
  color: rgb(62, 190, 233);
}

.fa-big {
  font-size: 1.5rem;
}

.mr {
  margin-right: 0.25rem;
}

main {
  margin-left: 300px;
  padding: 1rem 2rem;
  color: white;
}

section {
  /* min-height: 500px; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  text-align: center;
  font-size: 32px;
}

@media screen and (max-width: 850px) {
  main {
    margin-left: 0px;
  }
}
