$primaryColor: #181818;
$backgroundColor: #212121;
$textColor: white;
$accentColor: #3ebee9;
$separatorColor: grey;
$tagBackColor: #2aa7d1;
$tagTextColor: white;
$buttonBackColor: #6e6e6e;
$buttonTextColor: white;
$avatarBorderColor: cornflowerblue;
