.slideshow {
  position: relative;
  margin: 0.5rem 0;
}

.slide {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

.slide img {
  max-width: 100%;
  max-height: 400px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
}

.prev {
  display: none;
  left: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.next {
  display: none;
  right: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slide:hover .prev,
.slide:hover .next {
  display: block;
}

.slide-number {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  cursor: default;
  position: absolute;
  top: 10px;
  left: 10px;
}

.slide:hover .slide-number {
  display: block;
}

.caption {
  text-align: center;
  border-top: 1px solid rgb(53, 53, 53);
  border-bottom: 1px solid rgb(53, 53, 53);
  padding: 5px 0;
  margin: 0;
  color: white;
}

.thumbnail-row {
  display: flex;
  flex-direction: row;
}

.thumbnail-column {
  max-width: 120px;
}

.thumbnail {
  opacity: 0.6;
  cursor: pointer;
  width: 100%;
  max-height: 150px;
}

.active,
.thumbnail:hover {
  opacity: 1;
}
