.item {
  display: flex;
}

.info {
  flex-grow: 1;

  p {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
  }

  .title {
    font-size: 1.1em;
    font-weight: bold;
  }
}

.date {
  min-width: fit-content;
}

@media screen and (max-width: 500px) {
  .item {
    flex-direction: column;
  }

  .date {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
