@use "sass:color";
@use './Colors.scss';

.panel {
  background-color: Colors.$primaryColor;
  color: Colors.$textColor;
  width: 95%;
  font-size: 15px;
  margin: 1rem auto;
}

.panelMain {
  padding: 18px;
}

.panelTitle {
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.panelExtra {
  border-top: 1px solid Colors.$backgroundColor;
}

.accordion {
  background-color: Colors.$primaryColor;
  color: Colors.$textColor;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:hover,
.accordion.active {
  background-color: color.adjust(Colors.$primaryColor, $lightness: -1%);
}

.drawer {
  margin: 0 0.25rem;
  padding: 0 10px;
  background-color: Colors.$backgroundColor;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;

  &.active {
    max-height: 1000px;
  }
}

.tags {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    color: Colors.$tagTextColor;
    background-color: Colors.$tagBackColor;
    padding: 3px 5px;
    border-radius: 5px;
    margin: 2px;
    cursor: default;
  }
}
