.slideshow {
  position: relative;
  margin: 0.5rem 0;
}

.slide {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: relative;

  img {
    max-width: 100%;
    max-height: 400px;
  }
}

.prev,
.next {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  transform: translateY(-50%);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.4);

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.slide:hover .prev,
.slide:hover .next {
  display: block;
}

.slideNumber {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  cursor: default;
  position: absolute;
  top: 10px;
  left: 10px;
  min-width: 25px;
}

.slide:hover .slideNumber {
  display: block;
}

.caption {
  text-align: center;
  border-top: 1px solid rgb(53, 53, 53);
  border-bottom: 1px solid rgb(53, 53, 53);
  padding: 5px 0;
  margin: 0;
}

.thumbnailRow {
  display: flex;
  flex-direction: row;
}

.thumbnailColumn {
  max-width: 120px;
}

.thumbnail {
  opacity: 0.6;
  cursor: pointer;
  width: 100%;
  max-height: 150px;
}

.active,
.thumbnail:hover {
  opacity: 1;
}
